.m-1 {
    margin: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}
.m-vl-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m-hr-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mt-8-px {
    margin-top: 8px; 
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.btn-border-none {
    border: none;
    outline: transparent;
}

.justify-between {
    justify-content: space-between;
}

.align-flex-end {
    align-items: flex-end;
}

.card-shadow {
    box-shadow: 0 1px 10px var(--light-gray-color);
}

.form-cta {
    width: 100%;
}

.icon-vr-align {
    vertical-align: middle;
}